@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    font-size: 100%;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    /*line-height: 1.3;
    padding: 0px;*/
    background-color: crimson;
}
p{
    
    background-color: whitesmoke;
    display: inline-flex;
    width: 350px;
    height: 70px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}