@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    font-size: 100%;
    box-sizing: border-box;
    margin: 0px;
}

.titulo1,.preco{
    background-color:#00004d;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto Slab', serif;
    

}
.video{
    background-color:#00004d;
    padding-right: 50px;
}
p{
    color: white;
}
h1{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    
}
.video{
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Roboto Slab', serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border-style: solid;
    border-radius: 25px;
    width: 100px;
    background-color: crimson;
}
.contador{
    background-color: #00004d   ;
    padding-left: 50%;
}
.botao{
    background-color: #0cb980 ;
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    font-size: x-large;
}